[submodule "lib/doctest"]
	path = lib/doctest
	url = https://github.com/doctest/doctest.git
[submodule "lib/cxxfoil"]
	path = lib/cxxfoil
	url = https://github.com/Jvanrhijn/CXXfoil.git
[submodule "lib/xfoil"]
	path = lib/xfoil
	url = https://github.com/RobotLocomotion/xfoil.git
